:root{
	--color-background: hsl(216, 100%, 5%);
	--color-text: hsl(45,90%,55%)
}

body,
html{
	min-width: 100%;
	background-color : var(--color-background);
	color: var(--color-text); 
	text-align: center;
	font-family: 'verdana';
	font-size: 2rem;
	margin: 0px;
}

.news-band-block{
	border-top: 0.125em solid var(--color-text);
	border-bottom: 0.125em solid var(--color-text);
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	overflow: hidden;
	white-space: nowrap;
}

.news-band-text{
	margin: 0;
	position: relative;
	display: inline-block;
	animation: scrollingText 30s infinite linear;
}


@keyframes scrollingText {
	from {transform: translateX(0);}
	to {transform: translateX(-50%)}
}